<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
          <link href="{{ asset('bootstrap/css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
          <link href="{{ asset('css/jQueryUI.min.css') }}" type="text/css" rel="stylesheet" />
          <link href="{{ asset('css/estilos.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
      <div id="wrapper">
        {% block sidebar %}
          <div class="side-bar">
            <header id="head-lead">
              <a href="/">
                <img src="{{ asset('img/logo-main.png') }}"/>
              </a>

            </header>
            <nav id="nav">
              <ul class="nav nav-pills nav-stacked" style="max-width: 100%;">
                <li class="active">
          				<a href="#">
          					<span class="glyphicon glyphicon-user"></span>Menu</a>
          				</a>
          			</li>
              </ul>
                        <a href="{$_layoutParams.root}login/cerrar" type="button" class="btn btn-default btn-lg btn-block" id="close_count">Cerrar cuenta <span class="glyphicon glyphicon-off"></span></a>

            </nav>

          </div>
        {% endblock %}
          <div class="b-contenido">
            <div class="panel panel-default" id="contenido">
              <div class="panel-body">
        {% block contenido %}
        <div class="page-header">
          <h1>{{ titulo }} <small></small></h1>
        </div>

        {% endblock %}
              </div>
            </div>
          </div>
      </div>
        {% block body %}{% endblock %}
        {% block javascripts %}
          <script src="{{ asset('js/jQuery.js') }}"></script>
          <script src="{{ asset('js/jQueryUI.js') }}"></script>
          <script src="{{ asset('js/jquery.validate.js') }}"></script>
          <script src="{{ asset('js/Chart.js') }}"></script>
          <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"/></script>
          <script src="{{ asset('js/funciones.js')}}"></script>
        {% endblock %}
    </body>
</html>
