<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
          <link href="{{ asset('bootstrap/css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
          <link href="{{ asset('css/jQueryUI.min.css') }}" type="text/css" rel="stylesheet" />
          <link href="{{ asset('css/estilos.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
      <div id="wrapper">
        {% block sidebar %}
          <div class="side-bar">
            <header id="head-lead">
              <a href="{{ url('nutricion_empresas') }}">
                <img src="{{ asset('img/logo-main.png') }}"/>
              </a>

            </header>
            <nav id="nav">
              <ul class="nav nav-pills nav-stacked" style="max-width: 100%;">
                <li class="active">
          				<a href="#">
          					<span class="glyphicon glyphicon-user"></span>Menu</a>
          				</a>
          			</li>
              </ul>
              <a href="{$_layoutParams.root}login/cerrar" type="button" class="btn btn-default btn-lg btn-block" id="close_count">Cerrar cuenta <span class="glyphicon glyphicon-off"></span></a>

            </nav>

          </div>
        {% endblock %}
          <div class="b-contenido">
            <div class="panel panel-default" id="contenido">
              <div class="panel-body">
        {% block contenido %}
        {% if _errores is defined %}
          {% if _errores!="" %}
            <div class="alert alert-warning fade in" role="alert" id="_errores">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
              <ul>
                {% for error in _errores %}
                <li><strong>{{ error.message }}</strong></li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}

        {% endif %}

        {% if _mensajes is defined %}
          {% if _mensajes!="" %}
            <div class="alert alert-info fade in" role="alert" id="_errores">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
              <ul>
                {% for mensaje in _mensajes %}
                <li><strong>{{ mensaje.message }}</strong></li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}

        {% endif %}
        {% if btn_header is defined %}
          <div class="col-md-12 text-right">
            <a href="{{ btn_header.href }}" class="btn btn-default">{{ btn_header.title }}</a>
          </div>
        {% endif %}
        <div class="page-header">
          <h1>{% if titulo is defined %}{{ titulo }}{% endif %}
        </h1>
        </div>

        {% endblock %}
              </div>
            </div>
          </div>
      </div>
        {% block body %}{% endblock %}
        {% block javascripts %}
          <script src="{{ asset('js/jQuery.js') }}"></script>
          <script src="{{ asset('js/jQueryUI.js') }}"></script>
          <script src="{{ asset('js/jquery.validate.js') }}"></script>
          <script src="{{ asset('js/Chart.js') }}"></script>
          <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"/></script>
          <script src="{{ asset('js/funciones.js')}}"></script>
        {% endblock %}
    </body>
</html>
